.face-snap-card {
    width: 35%;
    img {
      width: 100%;
    }
    background-color: aliceblue;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.338);
  }